<%- include('partials/htmlhead'); -%>
<div class="full-height w3-monospace" style="padding: 60px 120px;">
    <div class="w3-cell-row w3-card w3-container w3-padding-48 w3-round w3-white" style="margin:auto;">
        <div class="w3-cell w3-margin w3-border-right w3-border-deep-orange w3-padding">
            <h2>Admin login</h2>
            <p>Login to create new elections,<br> view current elections, <br>and add canditates</p>            
        </div>
        <form action="/admin" method="POST" class="w3-cell w3-padding ">
            <div class="w3-margin">
                <label for="username">username</label>
                <input type="text" class="w3-input w3-border w3-round-large" name="username" id="" required>
            </div>
            <div class="w3-margin">
                <label for="password">password</label>
                <input type="password" class="w3-input w3-border w3-round-large" name="password" id="" required>
            </div>
            <div class="w3-margin">
                <input type="submit" class="w3-input w3-button w3-round w3-deep-orange" value="login">
            </div>
            <% if(message){ %>
                <p><%=message %></p>
                <% } %>
        </form>
    </div>
</div>
<%- include('partials/htmlfoot'); -%>
