<%- include('partials/htmlhead'); -%>
<div>
    <form action="/uploads" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploadFile" id="">
        <input type="submit" value="upload">
    </form>
</div>
<%- include('partials/htmlfoot'); -%>