<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
`   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="/fonts/EuclidSquare/stylesheet.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class="w3-deep-orange">
<div class="full-height" style="padding: 60px 120px;">
    <div class="w3-cell-row w3-card w3-container w3-padding-32 w3-round w3-white" >
        <div class="w3-cell w3-margin w3-border-right w3-border-deep-orange w3-padding">
            <h2 class="">Login</h2>
            <p>Login or register to vote</p>            
        </div>
        <form action="/" method="POST" class="w3-cell w3-padding">
            <div class="w3-margin">
                <label for="matricule">matricule</label>
                <input type="text" class="w3-input w3-border w3-round-large" name="matricule" required>
            </div>
            <div class="w3-margin">
                <label for="password">password</label>
                <input type="password" class="w3-input w3-border w3-round-large" name="password" required>
            </div>
            <div class="w3-margin">
                <input type="submit" class="w3-input w3-round w3-button w3-deep-orange" value="login">
            </div>
            <!--<% if(message){ %>
                <p class="w3-margin w3-center w3-text-red"><%=message %></p>
                <% } %>-->
            <div class="w3-margin"><p>Don't have an account yet? <a href="/register"">Register</a></p></div>
        </form>
    </div>
    <!--<% if(feedback !== "") {%>
        <% if(feedback === "Registration Complete") { %>
    <div id="feedback" class="w3-panel w3-center w3-animate-bottom w3-green" style="position: absolute; bottom:15%; width:100%;">Registration Succesful</div>
    <% } else { %>
        <div id="feedback" class="w3-panel w3-center w3-animate-bottom w3-red" style="position: absolute; bottom:15%; width:100%;">Registration Failed</div>
        <% } %>
    <script>
        const fd = document.getElementById("feedback");
        setTimeout(()=>{
            fd.style.display="none"
        }, 10000);
    </script>
    <% } %>-->
</div>
</body>
</html>