body{
    height: 100%;
    margin: 0px;
    line-height: 1.5;
    font-family:   ibm-plex-mono, monospace;
}


.full-height{
    height: 500px;
}

.form-padding{
    padding: 24px;
}

.content-section{
    display: none;
}
.active{
    display: block;
}

.background{
    background-color: rgba(0, 0, 0, 0.2);
}

.tomato{
    background-color: orangered;
    color: aliceblue;
}

no-shadow{
    box-shadow: none;
}
.overflow{
    overflow: scroll;
}