body{
    height: 100%;
    margin: 0px;
    line-height: 1.5;
    font-family: Euclid Square,IBM Plex Mono, monospace;
}
h1,h2,h3,h4,h5,h6{
    font-family: monospace;
}
th{
    font-family: Euclid Square;
    font-weight: 600;
}


.full-height{
    height: 500px;
}

.form-padding{
    padding: 24px;
}

.content-section{
    display: none;
}
.active{
    display: block;
}

.background{
    background-color: rgba(0, 0, 0, 0.2);
}

.tomato{
    background-color: orangered;
    color: aliceblue;
}

no-shadow{
    box-shadow: none;
}
.overflow{
    overflow: scroll;
}